
<div style="padding-top: 1px;padding-bottom:1px;background: cadetblue;">
  <p style="margin-left: 7vw;color: white;font-size: x-large;"><mat-icon style="margin-right: 20px;">face</mat-icon>iamneo.ai - Talent center</p>
</div>



<div style="text-align: center;margin-top: 20px;"><label for="Search Candidate">Search Candidate</label>
  <input style="margin-left: 2vw" type="text" placeholder="search" [(ngModel)]="input" (keyup)="filter()">
</div>


<div *ngIf="input" style="text-align: center;">
  <div class="example-container">
    <h2>search results</h2>
    <div class="example-list">
      <div *ngFor="let item of filtered" style="text-align: center;">
        <div class="example-box">{{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
          <div>{{item.email}}</div>
          <div>{{item.status}}</div>
      </div>
      </div>
    </div>
  </div>
</div>


<div cdkDropListGroup style="margin: 30px;" *ngIf="!input">
  <div class="example-container">
    <h2>Open</h2>
    <div cdkDropList [cdkDropListData]="open" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of open" cdkDrag>
        {{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Contacted</h2>
    <div cdkDropList [cdkDropListData]="contacted" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of contacted" cdkDrag>{{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
      </div>
    </div>
  </div>

  <div class="example-container">
    <h2>Written test</h2>

    <div cdkDropList [cdkDropListData]="writtenTest" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of writtenTest" cdkDrag>{{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>Tech Round</h2>

    <div cdkDropList [cdkDropListData]="TechRound" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of TechRound" cdkDrag>{{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
      </div>
    </div>
  </div>
  <div class="example-container">
    <h2>CultureFit</h2>

    <div cdkDropList [cdkDropListData]="CultureFit" class="example-list" (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of CultureFit" cdkDrag>{{item.first_name +' '+item.last_name}}<div
          style="color:blue ;">{{item.Company}}</div>
      </div>
    </div>
  </div>
</div>